@import url("https://fonts.googleapis.com/css2?family=Aclonica:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-aclonica: Aclonica;
  --font-roboto: Roboto;
  --font-inter: Inter;
  --font-ibm-plex-mono: "IBM Plex Mono";

  /* font sizes */
  --font-size-2xs: 16px;
  --font-size-xs: 18px;
  --font-size-sm: 20px;
  --font-size-base: 24px;
  --font-size-lg: 25px;
  --font-size-xl: 35px;
  --font-size-2xl: 36px;
  --font-size-3xl: 40px;
  --font-size-4xl: 48px;
  --font-size-5xl: 50px;
  --font-size-6xl: 72px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-violet: #ce4cdf;
  --color-gray-100: #f2f2f2;
  --color-gray-200: #e8edf6;
  --color-gray-300: #e7e7e7;
  --color-gray-400: #c4c4c4;
  --color-gray-500: #646464;
  --cq-black: #0a0017;
  --color-indigo-100: #321975;
  --color-indigo-200: #29116c;
  --color-indigo-300: rgba(35, 112, 200, 0.75);
  --color-green: #0a8e42;

  /* Gaps */
  --gap-xs: 8px;
  --gap-sm: 16px;
  --gap-md: 24px;
  --gap-lg: 48px;

  /* Paddings */
  --padding-sm: 14px;
  --padding-md: 32px;
  --padding-lg: 140px;

  /* border radiuses */
  --br-xs: 5px;
  --br-sm: 6px;
  --br-md: 30px;
  --br-lg: 200px;
}
